body {
    
    text-align: center;
}

htlm {
    
    scroll-behavior: smooth;
}

#video {
    
    width: 1000px;
    height: 500px;
    border: solid;
    border-color:cadetblue;
    border-width: 3px;
}

#marqueestyle {
    
    background-color: deepskyblue;
    color: white;
}

my_nav_bar {
    
    position: sticky;
    top: 0px;
    z-index: 99999;
    
}

#map iframe {
    
    width: 100px;
}

#image {
    
    border-radius: 50%;
}

h1 {
    
    text-align: left;
    color: darkblue;
}



